/* LOGIN */
.button{
  width:100px;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#2288bb;
}

.login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
  position: relative;
}

.login .loginsubTitle{
  background:#f57c20;
  padding:20px 0;
  font-size:180%;
  text-align:center;
  color:#fff;
}

#fieldSets{
  width: 400px;
	margin: 1.5em auto;
	text-align: center;
}

#fieldSets fieldset{
  background: #f0f0f0;
	border: 0 none;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 100%;
  position:relative;
}

#fieldSets fieldset:not(:first-of-type) {
	display: none;
}
#fieldSets fieldset .loginsubTitle{
  background:#f57c20;
  padding:20px 0;
  font-size:180%;
  text-align:center;
  color:#fff;
}
#fieldSets fieldset .loginBody{
  padding:6% 4%;
}

#fieldSets input[type="button"], #fieldSets input[type="submit"]{
  width:40%;
  background:#f57c20;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}
#fieldSets input[type="button"]:disabled{
  cursor:default;
  background:rgb(200,200,200);
}

#signupAgentNameClose{
 cursor:pointer;
}


#fieldSets input, .featureWrapper .search input, .searchWrapper input{
  width:92%;
  background:#fff;
  margin-bottom:0.5em;
  border:1px solid #ccc;
  padding:0.8em;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

#fieldSets input[type="text"]:disabled
{
background:#dddddd;
}

.signupRemove{
position:relative;
float:right;
display:none;
color:#84004D;
font-size:140%;
font-weight:600;
cursor:pointer;
top:1.8em;
right:0.2em;
}

#formErrors{
display: none;
text-align:left;
background: #FAD3C4;
padding: 0.5em;
font-size: 80%;
margin-bottom: 1em;
}


.loginButtonRight{
  position:relative;  
  float:right;
  top:0.5em;
  color:#84004D;
  cursor:pointer;
}

.loginButtonLeft{
  position:relative;  
  float:left;
  top:0.5em;
  color:#84004D;
  cursor:pointer;
}

/*input.searchInput{
  width:95%;
  font-size:150%;
  margin:auto;
  overflow:visible;
}

input.searchInput::before{
    content: "<<";
    color: red;
    text-indent: -999em;
}*/

.searchWrapper {
    font-size:150%;
    margin-right:8em;
    position:relative;
}

.searchWrapper input {
    margin-left:128px;
    padding-left:1.5em;
    width:100%;
    margin-bottom: 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;      
}
#searchSuggest input {
    margin-left:150px;
}

.searchWrapper button {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    padding: 0.77em;
    cursor: pointer;
    width: 130px;
    color: #fff;
    text-transform: uppercase;
    background: #3c3c3c;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0m 0 3px ;
    border-radius: 3px 0 0 3px;      
}   

#searchSuggest button{
  width: 152px;
}
  
.searchWrapper button:hover{		
    background: #505050;
}	
.searchWrapper button:hover:before{
  border-color: transparent transparent transparent #505050 ;
}

.searchWrapper button:active,
.searchWrapper button:focus{   
    background: #3c3c3c;    
}

.searchWrapper button:before {
    content: '';
    position: absolute;
    border-width: 12px 0px 12px 12px;
    border-style:  solid none solid solid;
    border-color: transparent transparent transparent #3c3c3c ;
    top: 20px;
    right: -12px;
}

.searchWrapper button:hover:before{
    border-right-color: #e54040;
}

.searchWrapper button:focus:before{
    border-right-color: #c42f2f;
}    

.searchWrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}



/* SEARCH form small */ 

#featuresBanner{
  padding-top:0em;
  padding-bottom:0em;
  margin-left: auto;
  margin-right: auto;
  margin-top:1em;
  margin-bottom:1em;
  text-align: center;
  overflow:hidden;
}

#featuresBanner #searchForm{
margin-left: auto;
  margin-right: auto;
  width:100%;
  display:block;
  text-align: center;
}

.featureWrapper{
  float:left;
  margin-top:.5em;
  font-size:120%;
  position:relative;
  margin-right: 1em;
  background: #444747; 
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px ;
  border-radius: 3px 3px 3px 3px;  
}

#suggestSubmit{
  background: #DDDDDD; 
}
#suggestSubmit:hover{
  background: #F6F6F6;
}

.featureWrapper a{
  color: #ffffff;
  cursor: pointer;
  padding: 1em 0.7em 1em 2.5em;
  display: inline-block;
  text-decoration: none;
}
.featureWrapper .community a:before{
  content: '';
  position:absolute;
  top:0.55em;
  left:0.2em;
  background-image: url('../../img/google.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.featureWrapper .suggest a:before{
  content: '+';
  position:absolute;
  top:0.05em;
  left:0.2em;
  font-weight: normal;
  font-size:250%;
}

.featureWrapper .documentation a:before{
  content: '';
  position:absolute;
  top:0.7em;
  left:0.4em;
  background-image: url('../../img/document.png');
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.featureWrapper .contribute a:before{
  content: '';
  position:absolute;
  top:0.7em;
  left:0.4em;
  background-image: url('../../img/edit.png');
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.featureWrapper .search a{
  padding-right: 0em;
}
.featureWrapper .search a:before{
  content: '';
  position:absolute;
  top:0.7em;
  left:0.4em;
  background-image: url('../../img/search.png');
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}
.featureWrapper .search input {
    width:8em; 
    padding:0.5em;
    margin-right:0.8em;
    margin-top:0.2em;
}


.featureWrapper .submit span{
  color: #3c3c3c;
  padding: 1em 0.7em 1em 4em;
  display: inline-block;
  text-decoration: none;
}
.featureWrapper .submit span:before{
  content: 'Submit';
  position:absolute;
  top:0.7em;
  left:0.4em;
  font-weight: normal;
  font-size:120%;
}
.featureWrapper .submit input {
    width:16em; 
    padding:0.5em;
    margin-right:0.8em;
    margin-top:0.2em;
}

/*progressbar*/
#loginProgressBar {
  position: relative;
  margin:0 auto;
  text-align: center;
  width:400px;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#loginProgressBar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 50%;
	float: left;
	position: relative;
}
#loginProgressBar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
  
}
/*progressbar connectors*/
#loginProgressBar li:after {
	content: ' ';
	width: 180px;
  margin-left:10px;
  margin-right:10px;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: 0; /*put it behind the numbers*/
}
#loginProgressBar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#loginProgressBar li.active:before,  #loginProgressBar li.active:after{
	background: #f57c20;
	color: white;
}




/* edition */

.editionTable input{
  width:90%;
  background:#fff;
  border:1px solid #ccc;
  padding:0.8em;
  font-family:'Open Sans',sans-serif;
  color:#555;
}
.editionTable select{
  width:50%;
  background:#fff;
  border:1px solid #ccc;
  padding:0.8em;
  font-family:'Open Sans',sans-serif;
  color:#555;
}

.editionActionBar{
  padding-top:1em;
}

.editionSaveButtonRight, .editionCancelButtonRight{
  float:right;
  background:#A2DAD2;
  margin: 0 .5em;
  margin-top:-.5em;
  border:0;
  padding:.5em;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#000;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}
.editionSaveButtonRight:hover{
  background:#f57c20;
  color:white;
}
.editionCancelButtonRight:hover{
  background: #3d3d3d;
  color:white;
}


