extends ../layout/layout
block content
      section#title.postBlue
        h1(itemprop="name")
          a(href='/edition/lov') LOV Edition 
            span (LOV)
      
      section#posts.default-area
        div.clear.col-2
          article.wrpl(style="")
            .wrplGreen(style="padding:1em;width:100%")
              h2 Suggestions
          article.wrpl
            .wrplGreen(style="padding:1em;width:100%")
              h2 Versions
          article.wrpl(style="")
            .wrplGreen(style="padding:1em;width:100%")
              h2 Reviews
          article.wrpl
            .wrplGreen(style="padding:1em;width:100%")
              h2 Users