extends ../layout/layout
block content
      section#title.postBlue
        h1 LOV SPARQL Endpoint 
          span / Data
      section#posts.default-area
          article
            #greenContainer.contents.clear.col-2.split.wrplGreen
              h2 SPARQL
              div#yasqe
              div#yasr
              script(src='/js/yasr.bundled_1.2.3.min.js')
              script(src='/js/yasqe.bundled_2.0.1.min.js')
              script.
                var yasqe = YASQE(document.getElementById('yasqe'), {
                  sparql: {
                    endpoint: 'http://helium.okfnlabs.org:3030/lov/sparql',
                    showQueryButton: true
                    },
                    value: 'PREFIX vann:<http://purl.org/vocab/vann/>\n\PREFIX voaf:<http://purl.org/vocommons/voaf#>\n\ \n\SELECT ?vocabPrefix ?vocabURI {\n\ \tGRAPH <http://lov.okfn.org/dataset/lov>{\n\ \t \t?vocabURI a voaf:Vocabulary.\n\ \t \t?vocabURI vann:preferredNamespacePrefix ?vocabPrefix.\n\}} ORDER BY ?vocabPrefix'
                });
                var yasr = YASR(document.getElementById("yasr"), {
                  //this way, the URLs in the results are prettified using the defined prefixes in the query
                  getUsedPrefixes: yasqe.getPrefixesFromQuery
                });
                 
                /**
                * Set some of the hooks to link YASR and YASQE
                */
                yasqe.options.sparql.callbacks.success =  function(data, textStatus, xhr) {
                  yasr.setResponse({response: data, contentType: xhr.getResponseHeader("Content-Type")});
                };
                yasqe.options.sparql.callbacks.error = function(xhr, textStatus, errorThrown) {
                  var exceptionMsg = textStatus + " (#" + xhr.status + ")";
                  if (errorThrown && errorThrown.length) exceptionMsg += ": " + errorThrown;
                  yasr.setResponse({exception: exceptionMsg});
                };
            aside.wrpl
              .h-padding
                h2 Data Dump
                .line
                .asideListFloat(style=)
                  ul.dumps
                    li
                      a(href='/lov.n3.gz' target='_blank' style="display: table; ")
                        img(src='/img/n3_small.gif' style="width:61px; height:38px")
                        span(style="padding-left:.5em; display: table-cell;   vertical-align: middle; ") LOV 
                    li
                      a(href='/lov.nq.gz' target='_blank' style="display: table; ")
                        img(src='/img/nq_small.gif' style="width:61px; height:38px")
                        span(style="padding-left:.5em; display: table-cell;   vertical-align: middle; ") LOV + vocabs 
                .clear
              .h-padding
                h2 APIs
                .line
                div 
                  span Consider using 
                  a(href="/api")
                    b LOV APIs 
                  span when appropriate
                .clear