extends ../layout/layout
block content
      section#post.postPink
          article
            #login
              h1 Log in
              form(action="/agents/session", method="post")
                input(type='hidden', name='_csrf', value="#{csrf_token}")
                input(type='email', name="email", placeholder='Email')
                input(type='password', name="password", placeholder='Password')
                input.loginButtonLeft(type='submit' value='LOV In it!')
                .loginButtonRight
                  a(href="/signup") Sign up