footer#footer
        .wrpl
          dl
            dt
              img(src='/img/LOV_white_small.png')
            dd
              strong Linked Open Vocabularies
        .wrpl
          br
          .bookmarks
            b Documentation
            ul
              li
                a(href='/about', title='About LOV') About
              li
                a(href='/api', title='API documentation') API documentation
              li
                a(href='https://github.com/pyvandenbussche/lov', title='Source in GitHub', target='_blank') Source code
              li
                a(href='mailto:py.vandenbussche@gmail.com; bernard.vatant@mondeca.com', title='Contact LOV team') Contact
          .bookmarks
            b Publication
            ul
              li
                a(href='http://ercim-news.ercim.eu/en96/special/linked-open-vocabularies', title='Linked Open Vocabularies', target='_blank') ERCIM News '14
              li
                a(href='http://bit.ly/1sGxzXZ', title='Requirements for vocabulary preservation and governance', target='_blank') Library Hi Tech '13
        .wrpl
          a#mt(href='http://okfn.org/', target='_blank')
            div.logo
            div.logoText
              | Hosted by the Open Knowledge Foundation
          div(style="float:right")
            a(rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank")
                img(alt="Creative Commons License" style="border-width:0; margin:1.2em;" src="https://i.creativecommons.org/l/by/4.0/88x31.png")
            
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-32519453-1', 'okfn.org');
        ga('send', 'pageview');