head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='Content-Language', content='en-US')
    meta(property='og:title' content='Linked Open Vocabularies (LOV)')
    meta(property='og:image' content='/img/LOV.png')
    meta(property='og:description' content='Your entry point to high quality and reusable Vocabularies to describe Linked Data.')
    meta(name='title' content='Linked Open Vocabularies (LOV)')
    meta(name='description' content='Your entry point to high quality and reusable Vocabularies to describe Linked Data.')
    
    title Linked Open Vocabularies
    link(rel='icon', href='/img/favicon.ico')
    link(rel='stylesheet', type='text/css', media='all', href='/css/style.css')
    //link(rel='stylesheet', type='text/css', media='all', href='/css/parts/table.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/search.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/agent.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/header.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/boutton.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/form.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/flatTable.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/ribbon.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/aside.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/graph.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/api.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/suggest.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/about.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/parts/edition.css')
    
    link(rel='stylesheet', type='text/css', media='screen', href='/css/style_ext.css')
    //link(rel='stylesheet', type='text/css', media='all', href='/css/grid.css')
    link(href='/css/nv.d3.css', rel='stylesheet', type='text/css')
    link(href='/css/jquery/jquery.ui.all.css', rel='stylesheet', type='text/css')
    
    // Application styles
    //link(rel="stylesheet", href="/css/bootstrap.min.css")
    //link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    //link(rel="stylesheet", href="/css/jquery.tagsinput.css")
    //
    //link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    //link(rel="stylesheet", href="/css/app.css")
    
    //script(src='/js/vis.min.js')
    //link(href='/css/vis.min.css', rel='stylesheet', type='text/css')
    
    script(src='/js/d3.v3.min.js')
    script(src='/js/nv.d3.js')
    script(src='http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true')
    //script(src='/js/dagre-d3.min.js')
    //script(src='/js/dagre.min.js')
    //script(src='/js/utils.js')
    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/jquery-ui-1.11.2/jquery-ui.min.js')
    
    //script(src='/js/jquery.fittext.js')
    script(src='/js/jquery.easing.min.js')
    script(src='/js/validate.min.js')
    
    //script(src="/js/multiselect/jquery-gentleSelect.js")
    //link(rel='stylesheet', type='text/css', media='all', href='/js/multiselect/jquery-gentleSelect.css')
    
    link(rel='stylesheet', type='text/css', media='all', href='/css/yasqe_2.0.1.min.css')
    link(rel='stylesheet', type='text/css', media='all', href='/css/yasr_1.2.3.min.css')
      
    script(src='/js/form2js/form2js.js')
    script(src='/js/form2js/jquery.toObject.js')
    script(src='/js/form2js/js2form.js')
   
    //script(src='/js/d3.v3.min.js', charset='utf-8')
    //script(src='/js/nv.d3.js')
    //script(src='/js/tooltip/script.js')
    //link(href='/js/tooltip/style.css', rel='stylesheet', type='text/css')
    