header
        a#logo(title='Linked Open Vocabularies', href='/dataset/lov')
          img(itemprop="image" alt='Linked Open Vocabularies', src='/img/LOV.png' height='86' width='86')
        nav
          ul
            li.wrpl
              a(title='', href='/dataset/lov/vocabs')
                | Vocabs
            li.wrpl
              a(title='', href='/dataset/lov/terms')
                | Terms
            li.wrpl
              a(title='', href='/dataset/lov/agents')
                | Agents
            li.wrpl
              a(title='', href='/dataset/lov/sparql')
                | SPARQL/Dump
        //-ul.login(style='position:absolute; top:0; right:0;')
          if (req.isAuthenticated())
            li
              a(href="/dataset/lov/agents/"+req.user.id, title="Profile") Profile
            li
              a(href="/dataset/lov/logout", title="logout") Logout
          else
            li
              a(href="/dataset/lov/login", title="Login") Login