extends ./layout/layout
block content
      section#post.postPink
        article
          header.wrpl.w-3-3
            h1 
              span 500 - 
              | Oops! something went wrong 
              span - 500
      section#post
        pre= error